# Core Deep Learning
torch==2.11.0
torchvision
torchaudio

# Hugging Face
transformers>=4.56.0
accelerate>=1.10.0
huggingface_hub>=0.34.0
safetensors>=0.6.0
sentencepiece

# PDF Processing
PyMuPDF>=1.26.0
Pillow>=11.3.0

# Utilities
numpy>=2.3.0
tqdm>=4.67.0
requests>=2.32.0
addict
matplotlib

# Configuration
PyYAML>=6.0